{% extends 'layout.html' %}

{% block tittle %}
        <title>{{tweet.user}}</title>
{% endblock tittle%}

{% block middle_content %}  
<style>
    .tweet-box{
        display: flex;
        margin-top: 20px;
        background-color: white;
        box-shadow: 2px 2px 10px rgb(210, 207, 207);
        border-radius: 6px;
    }
    .tweet-container{
        margin-top: 10px;
    }
    .tweet-author{
        font-size: 14px;
    }
    .tweet-content{
        padding: 10px 15px;
        width: 650px;
    }
    .tweet-image{
        height: 300px;
        width: 500px;
        margin: 10px 0px;
        margin-left: 10px;
    }
    .tweet-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .tweet-user-image{
        height: 60px;
        width: 60px;
        margin-right: 10px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .tweet-user-image img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    span{
        font-family: 'monospace';
    }
    .comment{
        margin: 20px 0px;
    }
    .comment-content{
        font-size: 14px;
    }
    .comment-section{
        margin-top: 50px;
    }
    </style>
    {% load static %}
    <div class="middle"> 
        <div class="tweet-box">
            <div class="tweet-user-image">
                <img src="{% static 'assset/1638654341892.png' %}" alt="">
            </div>
        <div class="tweet-container">
            <div class="tweet-author">
                <span>{{tweet.user.first_name}} {{tweet.user.last_name}}</span> @{{tweet.user}}   {{tweet.date_created | timesince}}
            </div>
            {% if tweet.image %}
            <div class="tweet-image"> 
                <img src="{{tweet.image.url}}" alt="">    
            </div>
            {% endif %}
            <div class="tweet-content">
                {{tweet.tweet | safe}}
            </div> 
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'like-tweet' tweet.id %}">
                    <Button class="btn-error">
                    {% if tweet.likes.count > 0 %}
                        {{tweet.likes.count}} 
                    {% endif%}
                    <i class="fas fa-heart"></i></Button>
                </a>  
                <Button class="btn-error">{{comment.count}} <i class="fas fa-message"></i></Button>
            </div> 
            {% else %}
            <div>
                    <Button class="btn-error" disabled>
                    {% if tweet.likes.count > 0 %}
                        {{tweet.likes.count}} 
                    {% endif%}
                    <i class="fas fa-heart"></i></Button>
                <Button class="btn-error" disabled>{{comment.count}} <i class="fas fa-message"></i></Button>
            </div>
            {% endif %}
            <div class="comment-section">
                <h2>Comments..</h2>
                {% for comment in comment %}
                <div class="comment">
                    @{{comment.user}}. {{comment.date_created | timesince}}
                    <div class="comment-content">
                        {{comment.content}}
                    </div>
                    <div>
                        <a href="{% url 'like-comment' comment.id %}">
                        <button class="btn-error">{{comment.likes.count}} like </button>
                        </a>
                        {% if user.is_authenticated%}
                        <Button class="btn-info">{{comment.count}} Reply</Button>
                        {% endif %}
                    </div> 
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
{% endblock middle_content%}

