{% extends 'base.html' %}

{% block tittle %}
        <title>RESET PASSWORD</title>
{% endblock tittle%}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login/styles.css' %}">

    <div class="login-form">
        <div class="form-content">
            <h3 class="login-header">RESET PASSWORD</h3>
            <form action="" method="POST" class="form-group">
                {% csrf_token %}
                <div class="form-input">
                    <input type="text" class="form-control" placeholder="E-mail"/>
                </div>
                <div><button type="submit" class="btn-success">SUBMIT</button></div>         
            </form>
        </div>
    </div>  
{% endblock content %}